@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #27a1ff;
  --foreground: #0f172a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  text-decoration: none;
  font-weight: 400;
}
